.friends_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 550px;
  /*grid-template-columns: 1.25fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 8px;
  grid-auto-rows: minmax(400px, auto);
  grid-auto-columns: minmax(200px, auto);*/
}

.friends_container_left {
  display: flex;
  flex-direction: column;
}

.friends_container_right {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 40px;
}

.dash_content .titlebox {
  justify-content: center;
  align-items:center;
  /*width: 90%;
  height: 90%;*/
  border-radius: 12px;
  padding: 15px 20px;
  background: #f1faee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.dash_content .bodybox {
  justify-content: center;
  align-items:center;
  /*width: 90%;
  height: 90%;*/
  height: 85%;
  border-radius: 12px;
  padding: 4px 12px;
  margin-top: 5px;
  background: #fafafa;
}

.titlebox {
  margin: 10px;
}

.titlebox img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-top: 5px;
}

.dashboard .dash_content {
  padding: 10px 14px;
}

.dashboard .dash_content .friend_name {
  font-size: 16px;
  font-weight: 500;
  margin: 9px;
  color: #d4a373;
}

.friend {
  margin: 9px;
}

.friend i {
  width: 25px;
  height: 25px;
}

.friend i:hover {
  cursor: pointer;
}

.friend i .hidden-menu {
  position: absolute;
  /* border: 1px solid black; */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  height: 35px;
  width: 122px;
  top: 0;
  background: white;
  text-align: center;
  line-height: 35px;
  transform: translateY(-10%);
  opacity: 0;
  /* left: 122px;*/
  pointer-events: auto;
}

.friend i:hover .hidden-menu {
  top: 50%;
  opacity: 1;
  transition: all 0.6s ease;
}

.bxs-user-check {
  color: #0c0;
}

.bxs-user-x {
  color: #c00;
}

.bx-block {
  color: #c00;
}

.add_friend_btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;

}

.menu_title {
  padding: 1rem;
  font-weight: bold;
}

.result-box {
  text-align: center;
}

h3 {
  text-align: center;
}


.logo_name:hover {
  cursor: pointer;
}

.friend_list_title {
  height: 250px;
}

.chat_box {
  height: 280px;
}

.find-friend {
  height: 280px;
}

.request_title {
  height: 240px;
}