.myid {
  font-size: 14px;
  color: #8c8c8c;
}

.edit_button {
  margin-left: 1.45rem;
  padding: 0.5rem 2.4rem;
  border-radius: 8px;
  border-style: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.edit_button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  transition: .5s;
}

#hidden_profile {
  width: 140px;
  right: 20px;
  top: 4rem;
  padding: 2rem;
  border: 1px solid black;
  background-color: #fafafa;
  /*display: flex;
  flex-direction: column;*/
  position: absolute;
}

#hidden_profile a {
  text-decoration: none;
  color: black;
}

.hidden {
  display: none;
}

.mynick {
  font-weight: bold;
  margin-bottom: 14px;
}

hr {
  margin-bottom: 14px;
}

.logo_name:hover {
  cursor: pointer;
}

.myActivity {
  display: grid;
  grid-template-rows: 0.35fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
}

.mba-flex {
  display: flex;
  flex-direction: row;
}

.titlebox {
  background: #cae1ff;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  padding: 12px;
  margin: 12px;
}

.bodybox {
  text-align: center;
  font-weight: bold;
  height: 120px;
  border-radius: 12px;
  padding: 15px 20px;
  background: #a5cefd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.myBoardActivity .bodybox {
  width: 25%;
  margin: 8px;
}

.myActivity-title {
  grid-column: 1 / 6;
  height: 30%;
}

.count {
  margin: 10px auto;
  font-size: 20px;
}

.top-menu:hover {
  cursor: pointer;
}

/*.bodybox i {
  font-size: 26px;
}

.bodybox .bx-chevron-right {
  font-size: 22px;
}*/

@media (max-width: 1192px) {
  .bodybox .bx-chevron-right {
    display: none;
  }
}

@media (max-width: 1099px) {
  .dash_content p {
    font-size: 13px;
  }
}

@media (max-width: 712px) {
  .myActivity {
    grid-template-rows: 0.4fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .myActivity-title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .mba-flex {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    flex-direction: none;
    grid-gap: 8px;
  }

  .myBoardActivity .bodybox {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 485px) {
  .mba-flex {
    display: flex;
    flex-direction: column;
  }

  .myActivity {
    display: flex;
    flex-direction: column;
  }
}